
.search{
    margin-bottom: 10rem;
}
.p{
    text-align: center;
    font-size: 1rem;
    color: gray;
}
.control{
    display: flex;
    justify-content: center;
}
.control input{


    text-align: start;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: .8rem;
    padding: .6rem 6rem .6rem 1rem;
}
.slider{
       display: flex;
      justify-content: center;

}

.card{
    background-color: hsl(0, 0%, 96%);
    border-radius: 1rem;
    margin-bottom: .2rem;
    display: flex;
    transition: all ease-in-out;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0,.1);
  transition: all ease-in-out 2s;
  
    
}

.img{
    max-width: 110%;
    width: auto;
    max-height: 80%;
    height: auto;
    border-radius: 1rem;
    display: block;
    margin-top: .6rem;
    
    
    
}
.arrow{
    border-radius: 1rem;
}
.left{
    background: beige;
      border-radius: .3rem;
      position: relative;
      padding: 2px;
      top: 11rem;
      left: -2.4rem;
      height: 2rem;
      width: 2rem;
    display:none ;
}
.right{
    background-color: bisque;
      border-radius: .4rem;
      padding: 2px;
          position: relative;
      top: 11rem;
      left:2.8rem ;
      rotate: 180deg;
      height: 2rem;
      width: 2rem;
      display:none ;
}


@media(min-width:29em){
    .search{
       
        margin-left:rem ;
    }
}