.app{

}

.show{
    transition-property:  opacity display overlay;
    transition-duration: .3s;
    transition-behavior: allow-discrete;
  
     visibility: visible;
    opacity: 1;
    translate: 0 0;
    @starting-style{
      opacity: 0;
      translate: 0 -8vh;
    }

}
.hide{
      visibility: hidden;
    opacity: 0;
    translate: 0 -8vh;
    transition-property:  opacity display overlay;
    transition-duration: .8s;
    transition-behavior: allow-discrete;
}
.set{
      margin-top: -23rem;
    
}
.out{
      margin-top: -10rem;
    
}
.hp{
    width:20%;

    translate: 5.7rem;
    transition: all ease-in-out .3s;
}
.hr{
    width:20%;
   
    
    
    translate: 0rem;
    transition: all ease-in-out .3s;
}
.likes{
    background-color: hsl(0, 100%,67%);
    padding: -1rem;
  
    width: 2rem;
    height: 2rem;
 
    border-radius: 20rem;

}

.active{
  background-color: hsl(0, 0%, 900%);
  border-radius: 6px;
  padding: .7rem 1.6rem .5rem 1.5rem;
  margin-right: .7rem;

}